@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-background: hsl(0 0% 3.9%);
  --color-foreground: hsl(0 0% 98%);

  --color-border: hsl(0 0% 14.9%);
  --color-input: hsl(0 0% 14.9%);
  --color-ring: hsl(0 0% 83.1%);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0
    }

    to {
      height: var(--radix-accordion-content-height)
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height)
    }

    to {
      height: 0
    }
  }
}

/* Base styles must be outside the @theme block but after imports */
:root {
  --background: 0 0% 3.9%;
  --foreground: 0 0% 98%;
  --font-inter: "Inter", sans-serif;
  /* Fallback definiton */
}

body {
  background-color: black;
  color: white;
  font-family: var(--font-sans);
}

/* Custom Utilities */
@utility text-glow {
  text-shadow: 0 0 20px rgba(139, 92, 246, 0.5);
}

@utility btn-glow {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}